---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: home-server-wildcard
spec:
  commonName: home-server-wildcard
  issuerRef:
    name: self-signed
    kind: ClusterIssuer
  secretName: home-server-wildcard
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "camunda-platform,argocd,monitoring,elastic,postgres,istio-demo"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
  dnsNames:
    - "*.home-server.antoine-campbell.com"
    - "home-server.antoine-campbell.com"
  revisionHistoryLimit: 1
  duration: 87600h # 10 years
