loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage:
    type: filesystem
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 2

test:
  enabled: false
lokiCanary:
  enabled: false

# Configure the rules sidecar to skip SSL verification
sidecar:
  skipTlsVerify: true

# Gateway for query and write paths
gateway:
  enabled: false
  ingress:
    enabled: true
    hosts:
      - host: loki.home-server.antoine-campbell.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: home-server-wildcard
        hosts:
          - loki.home-server.antoine-campbell.com

deploymentMode: SingleBinary
singleBinary:
  replicas: 1
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
  extraEnv:
    # Keep a little bit lower than memory limits
    - name: GOMEMLIMIT
      value: 750MiB
  persistence:
    enabled: true
    storageClass: microk8s-hostpath
    size: 4Gi

chunksCache:
  enabled: false
  # default is 500MB, with limited memory keep this smaller
  writebackSizeLimit: 10MB

resultsCache:
  enabled: false

# Disable minio for storage (using hostpath instead)
minio:
  enabled: false

# Zero out replica counts of other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
